<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="http://127.0.0.1:8000/login/" method="post">
    <div class="container">
        <h1> Login Form</h1>
        <label for="username" id="lab1">Email/Username</label>
        <br>
        <input type="text" id="username" placeholder="Email/Username" name="username" required>
        <br>
        <label for="passw">Password</label>
        <br>
        <input type="password" id="passw" placeholder="Password" name="password" required>
        <br>
        <a href="youtube.com">Forget Password?</a>
        <br>
        <button type="submit" id="uy">Submit</button>
        <!-- <input type="submit" id="uy"> -->
        <p id="ui">Not a member?<a href="signin.html" >Register Here</a></p>
    </div>
</form>
</body>
</html>